#contact_modal {
    display: none;
    width: 100vw; 
    height: 100vh;
    background: solid white !important;
    border: solid black !important;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}



.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0rem;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

#modalPhotographerName {
    width: 100%;
    margin-top: 0rem;
    font-size: 58px;
    font-weight: 500;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

header {
    margin-top: 2rem;
    margin-bottom: 4rem;
}


.photograph-header {
    width: 100%;
    padding: 0rem 4rem;
    border-radius: .5rem;
    display : flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0rem 4rem 0rem;
}


.photograph-header .profile-info h1{ 
    margin: 0px;
    color: #D3573C;
    font-size: 3.5rem;
}
.photograph-header .profile-info h2{ 
    color: #901C1C;
    font-size: 1.6rem;
}
.photograph-header .profile-info p{ 
    font-size: 1.1rem;
    color: #000;
}

.photograph-header .profile-picture  {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.photographer-work {
    width: 100%;
}

.work-filter {
    display: inline-flex;
    align-items: center;
}

.work-filter label {
    margin-right: 2rem;
}

select {
    width: 200px;
    font-size: large;
    font-weight: 500;
    padding: 1rem !important;
    color: white !important;
    background-color: #901C1C;
    border: none !important;
    border-radius: .3rem;
    position: relative;
}

select option {
    border-radius: 0 !important;
    font-size: medium;
    margin: 1rem;
    padding: 1rem;
    box-shadow: none !important;
    border: none;
}

select option:checked {
    background-color: #6e1616;
}


.photographer-main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

#work {
    width: 100%;
    margin: 4rem 0rem;
}

#work div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
#work div:last-child {
    justify-self: left !important;
}

#work div .photo-container {
    padding: 0;
    margin-bottom: 3rem;
    width: 28%;
    max-height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.photo, .video {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: .5rem;
    cursor: pointer;
}

.photo-container h2, p {
    color: #901C1C;
}

.photo-container h2 {
    width: 80%;
    cursor: default;
}

.photo-container p {
    text-align: right;
    font-size: 1.5rem;
    width: 20%;
    cursor: default;
}

.photo-container p i {
    cursor: pointer;
}

.photo-container p i{
    margin-left: .5rem;
    font-size: 1.5rem;
    color: #901C1C;
}

.video {
    margin: 0;
}

#dummy-child {
    visibility: hidden;
}

.price_and_likes {
    padding: 0rem 1rem;
    z-index: 100;
    position: fixed;
    min-width: 20rem;
    height: 3rem;
    right: 6.5rem;
    bottom: 0rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    background-color: #DB8876;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.price_and_likes p {
    color: #000;
    font-size: 1.2rem;
    width: 50%;
}

.likes {
    text-align: right;
    font-weight: 600;
}

.likes i {
    margin-left: .5rem;
}

.price-tag {
    font-weight: 600;
}


#closeUpView {
    display: none;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 2000;
    background-color: white;
    width: 100%;
    height: 100%;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

#closeUpImgView {
    width: 100%;
    padding-left: 6.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.fa-x {
    font-size: 2rem;
    color: #901C1C;
    margin-top: 6.5rem;
    margin-right: 6.5rem;
    margin-left: -2rem;
}

#previous, #next {
    width: 10%;
    font-size: 2rem;
    color: #901C1C;
    cursor: pointer;
} 

#previous:hover, #next:hover {
    opacity: .5;
}

#next {
    text-align: right;
}

#closeUpImg {
    height: 100%;
}

#closeUpVideo {
    width: 100%;
}

#closeUpVideo {
    display: none;
}

.closeUpImg-container {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.closeDialog {
    all: unset;
    align-self: baseline;
}

.closeUpImgTitle {
    width: 100%;
    align-self: flex-start;
    color: #901C1C;
}