@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0rem 6.5rem;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    width: 500px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    padding: none ;
    width: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer_section article div {
    height: 200px;
    width: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: 0px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2rem;
    
}

.photographer-infos {
    padding: none !;
    width: 100% !important;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -4.5rem;
}

.photographer-infos h3 {
    color: #901C1C;
    font-weight: 600;
    margin: 0px;
    font-size: 1rem;
}

.photographer-infos p {
    text-align: center;
    color: #000;
    margin: .5rem;
    font-size: .9rem;
}

.photographer-price {
    font-weight: 200;
}